In [53]:
import pandas as pd
import chart_studio.plotly as py
import plotly.offline as po
import plotly.graph_objects as pg

%matplotlib inline

In [54]:
po.init_notebook_mode(connected=True)
agri = pd.read_csv('agri.csv')

In [55]:
agri.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton,text
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61,Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00,Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95,Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44,Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95,California<br>Beef 228.7 Dairy 929.95<br>Frui...

In [56]:
data = dict(type='choropleth', 
            locations = ['AL', 'AK', 'AZ', 'AR', 'CA'],
            locationmode = 'USA-states',
            z = [1, 2, 30, 40, 50],
            text=['alabama', 'alaska', 'arizona', 'pugger', 'california'])
layout = dict(geo={'scope': 'usa'})
x = pg.Figure(data=[data], layout=layout)
po.plot(x)

'temp-plot.html'

In [57]:
data = dict(type='choropleth', 
            locations = agri['code'],
            locationmode = 'USA-states',
            z = agri['total exports'],
            text=agri['text'])
layout = dict(geo={'scope': 'usa'})
x = pg.Figure(data=[data], layout=layout)
po.plot(x)

'temp-plot.html'

In [58]:
gdp = pd.read_csv('215.gdp.csv')

In [59]:
gdp.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [68]:
data2 = dict(type='choropleth',
            locations= gdp['CODE'],
            z = gdp['GDP (BILLIONS)'],
            text = gdp['COUNTRY'])

In [69]:
layout2 = dict(title='GDP geo-plot', geo=dict(projection={'type':'hammer'}))
y= pg.Figure(data=[data2], layout=layout2)

In [70]:
# x = pg.Figure(data=[data], layout=layout)
po.plot(y)

'temp-plot.html'